/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

::selection {
  background-color: #3baaff;
  color: #fff;
}

.container {
  width: 95%;
  max-width: 1528px;
  margin: 0 auto;
}

.heading {
  font-style: normal;
  line-height: normal;
}
.heading-sm {
  font-size: 4.4rem;
}
.heading-md {
  font-size: 4.6rem;
  font-weight: 500;
}
.heading-lg {
  font-size: 6rem;
}

.title-sm {
  font-size: 2.4rem;
}
.title-md {
  font-size: 2.8rem;
}
.title-lg {
  font-size: 3rem;
}
.title-xlg {
  font-size: 3.2rem;
}
.title-xxlg {
  font-size: 3.4rem;
}

.text-xsm {
  font-size: 1.4rem;
}
.text-sm {
  font-size: 1.6rem;
}
.text-md {
  font-size: 18px;
}
.text-lg {
  font-size: 20px;
}

.navigation {
  height: 8rem;
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 2;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}
.navigation__box {
  display: flex;
  align-items: center;
}
.navigation__logo {
  margin-right: auto;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fira Sans Condensed", sans-serif;
  color: #4f4f4f;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.8px;
}
.navigation__list {
  height: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
@media (max-width: 968px) {
  .navigation__list {
    display: none;
  }
}
.navigation__list a {
  text-decoration: none;
  color: #838383;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.2s;
}
.navigation__list a.active, .navigation__list a:hover {
  color: #292929;
}

.header {
  padding-top: 120px;
}
.header__1 {
  display: grid;
  grid-template-columns: 1fr 360px;
  gap: 30px;
}
@media only screen and (max-width: 75em) {
  .header__1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.header__1 > div {
  border-radius: 30px;
}
.header__delivery {
  position: relative;
  min-height: 500px;
  padding: 30px;
  background-color: #eff8fd;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  flex-direction: column;
  justify-content: space-between;
}
.header__delivery span {
  font-weight: 300;
  line-height: 60px;
}
.header__delivery button {
  padding: 1.9rem 5rem;
}
.header__delivery-image {
  width: 100%;
}
.header__delivery img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
}
@media only screen and (max-width: 75em) {
  .header__delivery img {
    width: 500px;
  }
}
.header__boxes {
  margin-top: 6.5rem;
  display: grid;
  max-height: 200px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
}
@media only screen and (max-width: 75em) {
  .header__boxes {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 56.25em) {
  .header__boxes {
    grid-template-columns: 1fr 1fr;
  }
}
.header__box {
  color: #474747;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
  padding: 3rem;
  border-radius: 20px;
  transition: all 0.3s;
  border: 1px solid #e3e3e3;
}
.header__box-icon {
  position: relative;
  display: inline-block;
  transition: all 0.3s;
  background-color: #3baaff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.header__box-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__box-text {
  line-height: 25px;
  width: 100%;
}
.header__box:hover {
  background-color: #3baaff;
  border-color: #3baaff;
}
.header__box:hover .header__box-icon {
  background-color: #ff9900;
}

.footer {
  background-color: #3baaff;
  margin-top: 12rem;
  padding: 9rem 0 2.1rem 0;
  color: #fff;
}
.footer-info {
  display: flex;
  font-weight: 300;
}
@media only screen and (max-width: 75em) {
  .footer-info {
    flex-wrap: wrap;
  }
}
.footer-info h5 {
  font-weight: 300;
  color: #7dd4f5;
  margin: 16px 0;
}
.footer-info__contact {
  width: 50%;
  padding-right: 20px;
}
@media only screen and (max-width: 75em) {
  .footer-info__contact {
    width: 100%;
  }
}
.footer-info__map {
  margin-right: 15rem;
}
.footer-info__map ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-info__map a {
  text-decoration: none;
  color: inherit;
}
.footer-info__worktime-socials {
  display: flex;
  gap: 15px;
  margin-top: 34px;
}
.footer-info__worktime-socials a {
  position: relative;
  display: inline-block;
  height: 57px;
  width: 57px;
  border-radius: 50%;
  background-color: #fff;
}
.footer-info__worktime-socials a i {
  transition: color 0.3s;
  font-size: 24px;
  color: #3baaff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer-info__worktime-socials a:hover i {
  color: #ff9900;
}
.footer-map {
  margin-top: 57px;
}
.footer-map iframe {
  border-radius: 30px;
  width: 100%;
  height: 432px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.footer-bottom h5,
.footer-bottom p {
  font-weight: 400;
  line-height: 150%;
}

.btns {
  height: 100%;
  margin-left: 3.4rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn {
  border: none;
  cursor: poin;
}
.btn-primary {
  background-color: #3baaff;
  font-family: "Roboto", sans-serif;
  color: #fff;
  border-radius: 50px;
  height: 5rem;
  padding: 0 3rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.btn-rectangle {
  background-color: #3baaff;
  border-radius: 10px;
  color: #fff;
  padding: 18px 50px;
}
.btn-rectangle__white {
  background-color: #fff;
  border-radius: 10px;
  color: #3baaff;
  padding: 18px 50px;
}
.btn-white {
  position: relative;
  background-color: transparent;
  width: 5rem;
  height: 5rem;
  border: 1px solid #e9e9e9;
  border-radius: 50%;
  transition: all 0.1s ease;
}
.btn-white img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  height: 22px;
  width: 22px;
}
.btn-white:hover {
  border-color: rgb(168, 167, 167);
}
.btn-transparrent {
  border-radius: 10px;
  background-color: transparent;
}
.btn-transparrent__white {
  color: #fff;
  border: 1px solid #fff;
}
.btn-transparrent__blue {
  color: #3baaff;
  border: 1px solid #3baaff;
}
.btn-circle {
  position: relative;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn-circle__white {
  border: 1px solid #fff;
}
.btn-circle__white i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.5rem;
}
.btn-circle__white:hover {
  background-color: #fff;
}
.btn-circle__white:hover i {
  color: #3baaff;
}
.btn-circle__white:active {
  transform: scale(0.95);
}
.btn-circle__blue {
  border: 1px solid #3baaff;
}
.btn-circle__blue i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #3baaff;
  font-size: 1.5rem;
}
.btn-circle__blue:hover {
  background-color: #3baaff;
}
.btn-circle__blue:hover i {
  color: #fff;
}
.btn-circle__blue:active {
  transform: scale(0.95);
}

.flex-a-center {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.absolute-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  background-color: #3baaff;
  padding: 8.4rem 0;
  display: flex;
  align-items: center;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.slider .slide {
  transition: all 1s;
  position: absolute;
  padding: 0 10rem;
  width: 100%;
}
.slider .slide-info {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
}
@media (max-width: 968px) {
  .slider .slide-info {
    width: 100%;
  }
}
.slider .slide-info h2 {
  width: 70%;
}
.slider .slide-info > p {
  margin: 1.5rem 0 3rem 0;
  line-height: 30px;
}
.slider .slide-info button {
  padding: 1.9rem 5rem;
}
.slider .dots {
  position: absolute;
  bottom: 3.6rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 7px;
}
.slider .dots__dot {
  cursor: pointer;
  border: none;
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #96daff;
}
.slider .dots__dot.active {
  background-color: #fff;
}
.slider__buttons {
  display: flex;
  gap: 2.2rem;
  position: absolute;
  bottom: 3.6rem;
  right: 6rem;
}

.category {
  display: grid;
  gap: 3rem;
  margin-top: 6.5rem;
}
.category__item {
  color: #1e1e1e;
  background-color: #eff8fd;
  position: relative;
  height: 29rem;
  padding: 3rem;
  border-radius: 30px;
  overflow: hidden;
  transition: border-color 0.3s;
  border: 1px solid transparent;
}
@media only screen and (max-width: 56.25em) {
  .category__item {
    width: 100%;
  }
}
.category__item h3 {
  width: 25rem;
  line-height: 3.5rem;
}
.category__item:hover {
  border-color: #3baaff;
}
.category__item img {
  position: absolute;
  max-height: 80%;
  bottom: 0;
  right: 0;
}
.category__item-1 {
  grid-column: 1/span 2;
}
@media only screen and (max-width: 75em) {
  .category__item-1 {
    grid-column: 1/span 4;
  }
}
.category__item-1 img {
  max-height: 100%;
}
.category__item-2 {
  grid-column: 3/span 1;
}
@media only screen and (max-width: 75em) {
  .category__item-2 {
    grid-column: 5/span 2;
  }
}
.category__item-3 {
  grid-column: 4/span 1;
}
@media only screen and (max-width: 75em) {
  .category__item-3 {
    grid-column: 1/span 3;
  }
}
@media only screen and (max-width: 75em) {
  .category__item-4 {
    grid-column: 4/span 3;
  }
}
.category__item-4 img {
  bottom: -50px;
}
@media only screen and (max-width: 75em) {
  .category__item-5 {
    grid-column: 1/span 2;
  }
}
.category__item-5 img {
  bottom: -30px;
}
.category__item-6 {
  grid-column: 3/span 2;
}
@media only screen and (max-width: 75em) {
  .category__item-6 {
    grid-column: 3/span 4;
  }
}
.category__item-4 img, .category__item-5 img {
  left: 50%;
  transform: translateX(-50%);
}

.card {
  padding: 3rem;
  border-radius: 30px;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.05);
  transition: all 0.3s;
}
.card:hover {
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
}
.card__img-box {
  border-radius: 20px;
  height: 290px;
  position: relative;
  border: 1px solid #eee;
}
.card__img-box img {
  position: absolute;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card h3 {
  margin: 3rem 0 2rem 0;
}
.card p {
  color: #797980;
  font-weight: 400;
  line-height: 26px;
}
.card__buttons {
  margin-top: 2.7rem;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
}

.catalog-box {
  background-color: #3baaff;
  padding: 1.5rem;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr 40rem;
  color: #fff;
}
@media (max-width: 768px) {
  .catalog-box {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1460px) {
  .catalog-box.contact {
    grid-template-columns: 1fr;
  }
}
.catalog-box__info {
  padding: 4rem;
}
.catalog-box__info--form {
  margin: 5rem 0 2.4rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1.5rem;
}
.catalog-box__info--form input {
  padding: 2.2rem 3rem;
  border: none;
  outline: none;
  font-size: 1.8rem;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
}
.catalog-box__info--form input[type=number]::-webkit-inner-spin-button, .catalog-box__info--form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.catalog-box__info--form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  opacity: 1; /* Firefox */
}
.catalog-box__info .contact {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 160.2%;
}
.catalog-box__info button {
  padding: 2.2rem 7rem;
}
.catalog-box__image {
  position: relative;
  height: 100%;
}
@media (max-width: 768px) {
  .catalog-box__image {
    display: none;
  }
}
@media (max-width: 1460px) {
  .catalog-box__image.contact {
    display: none;
  }
}
.catalog-box__image-contact {
  height: 100%;
  width: 200px;
}
.catalog-box__image-contact-img {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
@media (max-width: 1460px) {
  .catalog-box__image-contact-img {
    display: none;
  }
}
.catalog-box__image-img {
  position: absolute;
  max-width: 160%;
  top: -59px;
  right: -40px;
}

.news-slider {
  margin-top: 7rem;
  position: relative;
  width: 100%;
  height: 600px;
  display: grid;
  gap: 3rem;
}
.news-slider__buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  gap: 20px;
}
.news-slider__slide {
  background-color: blue;
  transition: all 0.5s;
  position: absolute;
  padding: 26px;
  width: 490px;
  height: 310px;
  border-radius: 30px;
}
.news-slider__slide-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.news-slider__slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.news-slider__slide-info {
  border-radius: 10px;
  color: #000;
  transform: translateY(100%);
  background-color: #fff;
  box-shadow: 0px 4px 43.3px 0px rgba(104, 104, 104, 0.25);
  padding: 3.5rem;
}
.news-slider__slide-info h4 {
  margin-bottom: 4.6rem;
  font-weight: 400;
}
.news-slider__slide-info p {
  margin: 15px 0;
  line-height: 150%;
}
.news-slider__slide-info hr {
  border: none;
  height: 1px;
  width: 80%;
  background-color: #000;
}
.news-slider__slide-info a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.news-slider__slide-info a span {
  margin-left: 27px;
}

.shop-menu {
  position: relative;
}
.shop-menu__box {
  position: absolute;
  top: 80px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3baaff;
  min-height: 100px;
  width: 420px;
  border-radius: 30px;
  padding: 30px;
  border: 1px solid #fff;
  transition: all 0.3s;
  opacity: 1;
}
.shop-menu__box-list-item {
  position: relative;
  color: #fff;
  border-bottom: 2px solid #fff;
  display: flex;
  gap: 20px;
  padding: 13px 0;
}
.shop-menu__box-list-item h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-right: 30px;
}
.shop-menu__box-list-item img {
  width: 13rem;
  border-radius: 10px;
}
.shop-menu__box-list-item__btn {
  position: absolute;
  top: 13px;
  right: 0;
  height: 28px;
  background-color: transparent;
  width: 28px;
  border-radius: 50%;
  border: 1px solid #fff;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  padding: auto;
  line-height: 100%;
  color: #fff;
}
.shop-menu__box > button {
  margin-top: 23px;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.shop-menu__box.hide {
  opacity: 0;
  visibility: hidden;
}
.shop-menu__box::before {
  content: "";
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 20px;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3baaff;
}

.categories {
  margin-top: 12rem;
}

.products {
  padding-top: 12rem;
}
.products .more {
  margin-top: 7rem;
  text-align: center;
}
.products-box {
  margin-top: 8rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 1120px) {
  .products-box {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .products-box {
    grid-template-columns: 1fr;
  }
}
.products-box button {
  padding: 1.8rem;
}

.catalog {
  margin-top: 11.4rem;
  padding-bottom: 12rem;
}

.about {
  background-color: #eee;
  padding: 8.4rem;
}
.about-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9rem;
  align-items: center;
}
@media (max-width: 990px) {
  .about-box {
    grid-template-columns: 1fr;
  }
}
.about-box__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.about-box__info p {
  margin: 2.5rem 0 6.6rem 0;
  color: #000;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.about-box__info button {
  padding: 1.8rem 11.8rem;
}
.about-box__image {
  border-radius: 30px;
  height: fit-content;
}
@media (max-width: 990px) {
  .about-box__image {
    grid-row: 1/span 1;
  }
}
.about-box__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.news {
  padding-top: 12rem;
  overflow-x: hidden;
}
.news-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.news-head h2 {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.news-head button {
  padding: 13px 27px;
}

/*# sourceMappingURL=style.css.map */
